@media screen and (max-width: 1440px) {
  .col-lg-3.col-md-3.col-sm-6.col-xs-6.mobile {
    width: 33%;
    max-width: 33%; } }
@media screen and (min-width: 1024px) {
  .col-lg-3.col-md-3.col-sm-6.col-xs-6.mobile {
    width: 75%;
    max-width: 75%; } }
@media screen and (max-width: 991px) {
  .header {
    display: none; }

  .icon-new {
    display: block;
    background: red;
    padding: 10px;
    border-radius: 10px;
    color: #FFF; }

  .navbar-light .navbar-nav .nav-link {
    color: #000000 !important; }

  .bg-light {
    background: #ffffff !important; }

  .align-center {
    margin-left: auto;
    margin-right: auto; }

  .search {
    font-size: 30px;
    color: #dc3545; }

  #topo p {
    font-size: 15px;
    float: none !important;
    text-align: center !important; } }
@media screen and (max-width: 768px) {
  .col-lg-3.col-md-3.col-sm-6.col-xs-6.mobile {
    width: 50% !important;
    max-width: 50% !important; }

  .btn-primary {
    color: #fff;
    background-color: #89B8B6;
    border-color: #89B8B6;
    border-radius: 4px;
    font-weight: bold;
    width: auto;
    font-size: 12px; }

  .col-3 .align-self-start {
    min-width: 40%; }

  #topo > span {
    text-align: center; }

  .card-title {
    font-size: 12px !important;
    height: 29px !important; }

  .card-text {
    font-size: 0.98em !important; } }
@media screen and (min-width: 320px) {
  .mobile {
    width: 50% !important;
    max-width: 50% !important; } }
.card-text {
  color: #bd2130;
  text-align: center;
  font-weight: 900;
  font-size: 20px; }

/*Custom*/
.right {
  float: right; }

.navLogo {
  width: auto;
  height: 19px;
  background: #000; }

.divLogo {
  padding: 19px; }

#collapsibleNavbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold; }

#collapsibleNavbar ul {
  margin-left: 20px; }

#topo p {
  color: white;
  font-size: 12px;
  font-weight: 600;
  float: right; }

#topo p > span {
  text-decoration: underline;
  color: white;
  margin-right: 10px; }

p .card-text {
  font-weight: 900;
  color: #bd2130;
  text-align: center;
  font-size: 23px; }

.card-title {
  text-align: center;
  font-size: 14px;
  height: 18px;
  text-transform: uppercase;
  font-weight: normal; }

.fontFiltro {
  color: #729798;
  font-weight: bold;
  text-transform: uppercase; }

.list-group > span {
  padding: 0.25rem 1.25rem; }

.bord {
  border: 1px solid rgba(0, 0, 0, 0.125); }

.UpperCase {
  text-transform: uppercase;
  font-size: 20px !important;
  font-weight: bolder !important; }

.categories-colors {
  width: 100%;
  position: relative;
  display: flex;
  padding: 0.05rem 1.25rem; }

.Color1 {
  background-color: #cb0d1f;
  width: 40px;
  height: 20px;
  display: flex;
  position: absolute; }

.Color2 {
  background-color: #f36324;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 42px;
  display: flex; }

.Color3 {
  background-color: #28a3aa;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 2px;
  display: flex; }

#rodape {
  background: #cb0d1f;
  height: 120px; }

/*# sourceMappingURL=style.css.map */
